<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" defer src="js/client.js"></script>

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> Use this page to get to your weather (and a joke and a cat)!</p>
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <!--These two paragraphs below are for weather and geolocation-->
        <div>
            <p id="location"></p>
            <p id="weather"></p>
            <br><br>
        </div>

        <!--These two paragraphs below are for joke-->
        <div>
            <p id="joke1"></p>
            <p id="joke2"></p>
            <br><br>
        </div>

        <!--This is for cat image-->
        <div id="cat0">
        </div>
   </div>
    {{>footer}}
</body>
</html>
